* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Google Sans";
    font-size: 62.5%;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    font-size: 2rem;
}

h1 {
    color: #ce1b92;
    text-align: center;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    min-height: 100px;
    resize: vertical;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}
#paste-section {
    margin-top: 20px;
}
#paste-output {
    background-color: #e9ecef;
}
